<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Hi <%= @user.username %>,</h1>
  <p>Welcome to our TaskiRób site!</p><br/>
  <p>To activate your account, please click link below:</p><br/>
  <p><%= "http://localhost:8080/activate_account/#{@user.activation_token}" %></p><br/>
  <p>Activation account URL is valid within 24 hours.</p><br/>

  <p>Have a nice day!</p>
  </body>
</html>
